[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vel = {extras = ["gym", "mongo", "visdom"], version = "*"}
gym-miniworld = {ref = "master", git = "https://github.com/maximecb/gym-miniworld.git"}
gym-minigrid = {ref = "master", git = "https://github.com/maximecb/gym-minigrid.git"}
gym = "*"
cloudpickle = "*"

[dev-packages]

[requires]
python_version = "3.6"
